.signUpWrapper {
  font-size: large;
  width: 100%;
  max-width: 800px;

  .checkbox {
    margin-bottom: 24px;
  }

  .textarea {
    width: 100%;
    margin: 12px 0 16px 0;
    font-size: large;
  }

  .submitButton {
    height: 40px;
    width: 200px;
    margin-bottom: 16px;
  }
}