.signUpWrapper {
  font-size: large;
  width: 100%;
  max-width: 800px;

  .checkbox {
    margin-bottom: 24px;
  }

  .submitButton {
    height: 40px;
    width: 200px;
    margin-bottom: 16px;
  }
}